@model Church_Finder.Models.LocationReligionViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img id="home-logo" class="mb-5" src="~/img/logo.png" asp-append-version="true" />
    <partial name="_BasicSearch" />
</div>
