@import "variables.scss";

#home-logo {
    width: 400px;
}
#home-form {
    .form-group {
        width: 100%;
    }

    input[name="SearchString"] {
        width: 70%;
        border: 1px solid lightgrey;
        box-shadow: rgba(235, 235, 235, 0.5) 0px 2px;
        padding-left: 15px;
    }

    input[type="submit"] {
        transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: $btn-blue;
        color: white;
    }

    #LocationReligion {
        width: calc(13em + 5px);
    }

    #searchAccordion {
        cursor: pointer;
        width: 100%;
    }

    .card {
        border: none;

        #advancedFields {
            border: 1px solid lightgrey;
            margin-top: 10px;
        }

        .advanced-fields-grid {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto auto;
            text-align: left;

            .advanced-fields-grid-item {
                padding: 10px;
            }

            .advanced-fields-grid-item:nth-child(2) {
                grid-column: span 2;
            }

            .advanced-fields-grid-item:last-child {
                grid-column: span 3;
            }

            label {
                display: unset;
                justify-content: unset !important;
                width: auto;
            }
        }
    }

    .card-header {
        padding: 0;
        background-color: rgba(0, 0, 0, 0.0);
        border: none
    }

    #searchHeader {
        text-align: left;
        color: cornflowerblue;
    }
}