#locations-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 1em;
    grid-template-rows: auto;
    padding-top: 1em;

    img {
        width: 200px;
        margin-bottom: 15px;
    }

    .location-block {
        border: 1px solid rgba(128, 128, 128, 0.5);
        border-radius: 10%;
        padding: 15px;
        a {
            font-size: 16pt;
        }
    }
}
